#timetable {
  position: absolute;
  left: 50px;
  top: -45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s all cubic-bezier(0.66, 0.06, 0.15, 0.97);
}

#timetable.hidden {
  opacity: 0;
  transform: scale(0.95);
}

#timetable.shown {
  opacity: 1;
  transform: scale(1);
}

.padding {
  width: 100%;
}

.canvas-container {
  position: relative;
}
